# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\lly_Projects\cors-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
